* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IM Fell English SC', serif;
}

.cards{
    display: flex;
    flex-wrap: unwrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.tarjeta a{
    color: grey;
    text-decoration: none;
}

.tarjeta a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 90%); 
}
.tarjeta img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.tarjeta-content {
    padding: 1.5em;
}

.tarjeta-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
}

.tarjeta-figure{
    margin: 0;
}

.tarjeta {
    background-color: black;
    margin-bottom: 2em;
}

.Charlie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("../img/meritt-thomas-2UsNF4Az-Ko-unsplash.jpg");
    font-family: 'IM Fell English SC', serif;
}
.Charlie_texto {
    color: ivory;
    font-size: 3vw;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    padding: 20px;
    background-color: black;
}

.Proceso {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    padding: 20px;
    margin-top: 80px;
    align-items:center;
    padding: 20px;
}

.Proceso h1 {
    color: ivory;
    font-size: 3vw;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
}

.Proceso img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.banner_footer {
    background-color: black;
    color: ivory;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.banner_footer a{
    color: ivory;
}

.Contacto {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;

}
.Contacto h1 {
    color: ivory;
    font-size: 3vw;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
}
